// Font Stack
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$primary-font: 'Nunito', sans-serif;

// Colors
$primary-one: #EF0652;
$primary-two: #FFFFFF;
$secondary-one: #C71281;
$secondary-two: #3B1A57;
$secondary-three: #69537D;
$secondary-four: #1e1422;


// Mixins
@mixin flex-vhc {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {line-height: 1em;
  }

// Normalise
body {
  margin: 0;
  font-family: $primary-font;
}

.container {
  width: 950px;
  margin: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
}

.header-container {
  justify-content: space-between;
}

section {

}

section#top {
  background: linear-gradient($primary-one, $secondary-one);
  @include flex-vhc;
  flex-direction: column;
  padding: 10px 0px 40px 0px;
}

section#mid {
  display: flex;
  justify-content: center;
  padding: 40px 0px 40px 0px;
}

.product {
  @include flex-vhc;
  flex-direction: column;
}

.product-desc {
  text-align: center;
}

section#bottom {
  background-color: $secondary-two;
  display: flex;
  justify-content: center;
  padding: 40px 0px 40px 0px;
}

footer {
  background-color: $secondary-four;
  @include flex-vhc;
  padding: 20px 0px 20px 0px;
}
.footer-container {
  justify-content: space-between;
}
